/* Body background gradient */


.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(45, 49, 49, 0.942);
}



.nav-menu {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-item {
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: white;
}


.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px;
}



.dropdown-menu a {
    color: white;
    text-decoration: none;
}




.blur-content {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}